Repository operaton/operaton, pull requests merged in 2025-10, with the labels that each got.

#1401 chore(deps): Dependency management
  bom/internal-dependencies/pom.xml
  engine-plugins/identity-ldap/pom.xml
  engine-rest/engine-rest/pom.xml
  engine-spring/pom.xml
  engine/pom.xml
  parent/pom.xml
  qa/test-db-instance-migration/pom.xml
  qa/test-db-instance-migration/test-fixture-719/pom.xml
  qa/test-old-engine/pom.xml
Labels: dependencies, build

#1412 chore(repo): script to save open camunda issues
  .github/scripts/backup-repo-issues.sh
Labels: build

#1409 Upgrade to GraalVM 25
  .github/jreleaser/changelog.tpl
  .github/workflows/integration-build.yml
  .mvn/maven.config
  README.md
  bom/internal-dependencies/pom.xml
  clients/java/client/pom.xml
  distro/run/core/pom.xml
  distro/run/pom.xml
  distro/tomcat/assembly/assembly.xml
  distro/tomcat/assembly/pom.xml
  distro/wildfly/assembly/pom.xml
  distro/wildfly/modules/pom.xml
  distro/wildfly/modules/src/main/modules/com/ibm/icu/icu4j/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/js/js-all/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/js/js-scriptengine/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/js/js/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/regex/regex/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/sdk/graal-sdk/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/truffle/truffle-api/main/module.xml
  distro/wildfly/modules/src/main/modules/org/operaton/bpm/operaton-engine/main/module.xml
  distro/wildfly/subsystem/src/main/java/org/operaton/bpm/container/impl/jboss/deployment/processor/ModuleDependencyProcessor.java
  engine-dmn/engine/pom.xml
  engine-plugins/spin-plugin/pom.xml
  engine-spring/pom.xml
  engine/pom.xml
  examples/pom.xml
  parent/pom.xml
  qa/README.md
  qa/integration-tests-engine/src/test/java/org/operaton/bpm/integrationtest/functional/classloading/jobexecution/ClassloadingDuringJobExecutionTest.java
  qa/test-old-engine/pom.xml
  qa/wildfly-runtime/src/main/common/modules/org/operaton/bpm/operaton-engine/main/module.xml
  spin/core/pom.xml
  spin/dataformat-json-jackson/pom.xml
  spin/dataformat-xml-dom/pom.xml
  spin/pom.xml
  spring-boot-starter/starter-qa/integration-test-request-scope/pom.xml
  spring-boot-starter/starter-qa/integration-test-webapp/runtime/pom.xml
  webapps/assembly/pom.xml
Labels: dependencies
